@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 15px 'Vollkorn', Georgia, serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
  border-radius: 5px;
}


/* Grid Geral */
.estrutura {
  display: grid;
  grid-template-columns: minmax(160px, 1fr) 3fr 300px;
  grid-template-areas: 
    "header header header"
    "sidenav content anuncios"
    "footer footer footer"
  ;
}

@media (max-width: 1200px){
  .estrutura{
    grid-template-areas: 
      "header header header"
      "sidenav content content"
      "sidenav anuncios anuncios"
      "footer footer footer"
    ;
  }
}

@media (max-width: 760px) {
  .estrutura{
    grid-template-columns: 100%;
    grid-template-areas: 
      "header"
      "sidenav"
      "content"
      "anuncios"
      "footer"
    ;
  }
}

.header {
  grid-area: header;
  background: linear-gradient(135deg, #CBA328, #EAD637);
  padding: 30px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  color: #fcfccf;
  font-size: 3.5em;
}

.header nav ul {
  display: flex;
  flex-wrap: wrap;
}

.header nav ul a {
  display: block;
  padding: 10px;
  margin: 0 10px;
  color: #fcfcfc;
  font-size: 1.25em;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: .5s ease-in-out;
}

.header nav ul a:hover {
  background: rgba(0, 0, 0, 0.5);
}

.sidenav {
  grid-area: sidenav;
  background: #fafbfc;
  padding: 30px;
}

.sidenav li a {
  display: block;
  min-width: 60px;
  max-width: 150px;
  margin: 0 auto 30px auto;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 15px 15px 0 rgba(44, 44, 44, 0.15);
  transition: .1s ease-out;
}

@keyframes seta {
  from {
    right: 30px;
  }
  to {
    right: 20px;
  }
}

@media (max-width: 760px) {
  .sidenav {
    position: relative;
    overflow-x: auto;
  }

  .sidenav::after {
    content: '→';
    position: absolute;
    top: 5px;
    right: 30px;
    color: rgba(0, 0, 0, .3);
    animation: seta .5s ease-in 0s infinite alternate;
  }
  
  .sidenav ul {
    display: flex;
  }

  .sidenav li {
    flex: 1 0 100px;
  }

  .sidenav {
    padding: 0 30px;
  }

  .sidenav li a {
    margin: 30px 30px 30px 0;
  }
}

.sidenav li a:hover {
  background: #EEDC59;
}

.content {
  grid-area: content;
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

@media (max-width: 600px){
  .content{
    grid-template-columns: auto;
  }

  img{
    width: 100%;
  }
}

.col-wide {
  grid-column: 1 / -1;
}

.imagem-1 {
  grid-row: span 2;
  align-self: end;
}

.imagem-2 {
  align-self: end;
}

p {
  font-size: 1.2em;
  line-height: 1.6;
  letter-spacing: -0.005em;
  color: rgba(0, 0, 0, .7);
}

.informacoes p + p {
  margin-top: 30px;
}

.titulo {
  color: #CBA328;
}

.titulo h1 {
  font-size: 3.75em;
  line-height: 1;
  font-weight: 700;
}

.titulo span {
  font-size: 0.875em;
  font-style: italic;
}

.caracteristicas {
  display: flex;
  align-items: flex-start;
}

.caracteristicas > div {
  width: 80px;
  text-align: center;
  background: linear-gradient(135deg, #CBA328, #EAD637);
  border-radius: 5px;
  box-shadow: 5px 15px 15px 0 rgba(44, 44, 44, 0.15);
  position: relative;
}

.caracteristicas > div:first-child {
  margin-right: 30px;
}

.caracteristicas span {
  display: block;
  color: #F1E47E;
}

.numero {
  font-size: 3em;
  line-height: 1;
  color: #CBA328;
  margin: 10px auto;
}

.rotulo {
  background: #fff;
  border-radius: 0 0 5px 5px;
  padding: 5px 0;
  position: relative;
  top: 2px;
}

.destaque {
  font-size: 0.875em;
  color: #CBA328;
  max-width: 16em;
}

.citacao, .atributos {
  padding: 30px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  background: linear-gradient(135deg, #CBA328, #EAD637);
  align-self: start;
}

.citacao p {
  color: #fcfcfc;
  font-size: 1.5em;
  font-style: italic;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

.atributos li {
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  padding: 15px;
  font-size: 1.125em;
}

.atributos li + li{
  border-top: 2px solid #EAD637;
}

.anuncios {
  grid-area: anuncios;
  background: #fafbfc;
  display: grid;
  align-content: start;
  padding: 30px;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.anuncio-item {
  cursor: pointer;
}

.footer {
  grid-area: footer;
  background: linear-gradient(135deg, #CBA328, #EAD637);
}

.footer p {
  color: #fcfcfc;
  padding: 30px;
  text-align: center;
}